{% load static %}
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static './css/style.css' %}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
		
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://files.worldwind.arc.nasa.gov/artifactory/web/0.9.0/worldwind.min.js"></script>
		<script type="text/javascript" src="{% static './js/worldwind.js' %}"></script>
		<script type="text/javascript">

		function showTooltip(data, x, y) {
			var tooltip = $('#tooltip');
			// ツールチップの表示
			tooltip.css('display', 'inline');
			// スケジュールサマリ非表示
			$('#scheduleSummary').css('display', 'none');

			// 表示位置
			tooltip.css('left', x + 5 + 'px');
			tooltip.css('top', y - 5 + 'px');
			// データの表示
			$('#facillityName').text(data.name);
			$('#location').text(data.lat + ", " + data.lon);
			$('#launchSchedule').html('<a id="showSchedule" href="javascript:void(0);">Launch Schedule</a>');
		}
		
		function closeTooltip(){
			var tooltip = $('#tooltip');
			// ツールチップの表示
			tooltip.css('display', 'none');
		}

		function appendSummarySchedule(rootNode, mission){
			rootNode.append('' + 
					'<table id="' + mission.id + '" class="mission" border=1>' + 
					'<tr>' + 
					'	<td rowspan=3 class="image"><img src="' + mission.image + '"></td>' + 
					'	<th>mission</th><td id="missionName">' + mission.name + '</td>' + 
					'</tr>' + 
					'<tr>' + 
					'	<th>Date</th><td id="launchDate">' + mission.date + '</td>' + 
					'</tr>' + 
					'<tr>' + 
					'	<th>Launch Window</th><td id="launchWindow">' + mission.window + '</td>' + 
					'</tr>' + 
					'</table>');
		}
		
		function showSidebar(sidebarId, datas){
			let sidebar = $(sidebarId);
			datas.forEach(function(data){
				appendSummarySchedule($('#missionList'), data);
			});
			sidebar.animate({'marginLeft':'0px'});
		}
		
		function hiddenSidebar(sidebarId){
			$(sidebarId).animate({'marginLeft': '-400px;'});
		}

		$(document).ready(function() {
			var wwd = new NasaWorldWind('canvasOne');
			wwd.addEventListener('pinclick', function(obj, data, x, y){
				wwd.showPoint(data.lat, data.lon);
				console.log('data: ' + data.name + ' x=' + x + " y=" + y);
				showTooltip(data, x, y);
			});

			const imageUri = WorldWind.configuration.baseUrl + "images/pushpins/plain-red.png";

			const data = [
				{'id': 'id1', 'lat': 28.524058, 'lon': -80.65085,  'name':'Cape Canaveral Air Force Station', 'image': imageUri},
				{'id': 'id2', 'lat': 29.563056, 'lon': -95.091111, 'name': 'Lyndon B. Johnson Space Center',  'image': imageUri},
				{'id': 'id3', 'lat': 30.4     , 'lon': 130.97,     'name': 'Tanegashima Space Center',        'image': imageUri},
				{'id': 'id4', 'lat': 31.25115,  'lon': 131.076125, 'name': 'Uchinoura Space Center',          'image': imageUri},
			];

			wwd.addPins(data);
			wwd.draw();
			
			$('#tooltip .close').click(function(){
				closeTooltip();
			});
			
			// tooltip内のスケジュールリンクをクリック
			$(document).on('click', '#showSchedule', function(event) {
				var datas = [
					{'id': 1, 'name': 'ICON (Ionospheric Connection Explorer)', 'image': 'https://www.nasa.gov/sites/default/files/styles/image_card_4x3_ratio/public/thumbnails/image/iconairglownight.png', 'date': 'October 26, 2018', 'window': '4:00 a.m. -- 5:30 a.m. Eastern'},
					{'id': 2, 'name': 'Northrop Grumman Resupply Mission to Space Station (CRS-10)', 'image': 'https://www.nasa.gov/sites/default/files/styles/image_card_4x3_ratio/public/thumbnails/image/iss053e311637_0.jpg', 'date': 'November 15', 'window': '2018 - 4:49 a.m. Eastern'},
				];
				
				showSidebar('#sidebar', datas);
			});
			
			// sidebar内のmissionテーブルをクリック
			$(document).on('click', '.mission', function(event){
// 				alert(event.currentTarget.id);
				const missionId = event.currentTarget.id;
				$('#sidebar #missionList').animate({'marginLeft': '-400px}'});
				// TODO Ajax
				const data = {'id': 1, };
				
			});
			
			$(document).on('click', '#sidebar #control .close', function(event){
				hiddenSidebar('#sidebar');
			});
		});

		</script>
	</head>
	<body>
		<div id="sidebar">
			<div id="control">
				<div class="back">←</div><div class="close">×</div>
				<br>
			</div>
			<div id="missionList">
			</div>
		</div>
		<canvas id="canvasOne" width="768" height="576">
			Your browser does not support HTML5 Canvas.
		</canvas>
		
		<div id="tooltip">
			<div class="close">×</div>
			<br>
			<table id="facility" border=1>
				<tr>
					<td>Launching Facility Name</td><td id="facillityName">&nbsp;</td>
				</tr>
				<tr>
					<td>Location</td><td id="location">&nbsp;</td>
				</tr>
				<tr>
					<td id="launchSchedule" colspan=2>&nbsp;</td>
				</tr>
			</table>
			<div id="scheduleSummary">
			</div>
		</div>
	</body>
</html>